In [1]:
# Import math module
import math

In [2]:
# Try a quick calculation
math.sqrt(36)

6.0

In [4]:
# Print pi
math.pi

3.141592653589793

In [5]:
# Experiment with renaming math module 
import math as mt
mt.sqrt(25)

5.0

In [7]:
# Import numpy, math and stats from scipy
import numpy as np
import math as mt
from scipy import stats as st

In [8]:
# Get random data
from numpy import random

In [10]:
# Uniform random numbers in [0,1]
dataOne = random.rand(5,5)
dataOne

array([[0.84745043, 0.29210612, 0.25984773, 0.43087081, 0.77946028],
       [0.76684981, 0.83741971, 0.41044377, 0.10891741, 0.49251881],
       [0.59800878, 0.17708033, 0.15454346, 0.62013812, 0.54999517],
       [0.85407511, 0.52273567, 0.1036622 , 0.87213272, 0.9516502 ],
       [0.95560401, 0.18768826, 0.21264988, 0.34636002, 0.55920456]])

In [10]:
# Get the mean from dataOne
np.mean(dataOne)

0.4931503982664356

In [50]:
# Use 3 predefined functions with math and stats 
# Math not used for tables https://docs.python.org/3/library/math.html#module-math
# Scipy for arrays https://docs.scipy.org/doc/scipy/reference/stats.html#module-scipy.stats
# Get mode
st.mode(dataOne)

ModeResult(mode=array([[0.26575846, 0.0814783 , 0.1226155 , 0.00873132, 0.16231891]]), count=array([[1, 1, 1, 1, 1]]))

In [24]:
# Get descriptive statistics 
st.describe(dataOne)

DescribeResult(nobs=5, minmax=(array([0.26575846, 0.0814783 , 0.1226155 , 0.00873132, 0.16231891]), array([0.91681483, 0.79719541, 0.63281149, 0.98597597, 0.89116773])), mean=array([0.57575875, 0.46014264, 0.38108055, 0.4702728 , 0.57849725]), variance=array([0.08078301, 0.10278759, 0.054451  , 0.20911876, 0.07437625]), skewness=array([ 0.26077884, -0.27522126, -0.21635459,  0.0085635 , -0.53308568]), kurtosis=array([-1.64436585, -1.69355582, -1.71017308, -1.70258825, -0.73837714]))

In [26]:
# Get skew 
st.skew(dataOne)

array([ 0.26077884, -0.27522126, -0.21635459,  0.0085635 , -0.53308568])

In [27]:
# Functions
print('I love data science')

I love data science

In [29]:
# Variables
variableName = 25
variableName1 = 'I love data science'
print(variableName1)
print(variableName)

I love data science
25

In [30]:
# DataTypes - Interger
variableName = 25
type(variableName)

int

In [31]:
# DataTypes - float
variableName = 25.0
type(variableName)

float

In [32]:
# Example 1
varOne = 25
varTwo = 25.0
varThree = varOne + varTwo
print(varThree)

50.0

In [33]:
# Example 2 ( you cant use a mathmatical opperator with data type string )
varOne = 25
varTwo = 'Hello'
varThree = varOne + varTwo
print(varThree)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [40]:
# Lists 
listOne = [1,2,3,4]
print(listOne[1:3])

[2, 3]

In [42]:
# Dictionaries
tel = {'jack': 4098, 'sape': 4139}
tel['jack']

4098

In [43]:
# My turn - Define variable
myTel = {'jack': 4098, 'sape': 4139, 'ape': 2121,'grape': 3131,'tape': 4141}

In [52]:
# My turn - Use Math Package 1
mt.sqrt(myTel['tape'])

64.35060217278468

In [48]:
# My turn - Use Math Package 2
mt.log2(myTel['ape'])

11.050528905530555

In [51]:
# My Turn - Use Math Package 3
mt.log10(myTel['sape'])

3.61689542640076

In [10]:
# Creating and Using Strings
myString = "python is a great language."
print(myString)
ord("A")

python is a great language.

65

In [11]:
#Python Membership Operators
"Hello" in "Hello Goodbye"

True

In [12]:
# Python Identity Operators
type(2) is int

True

In [13]:
# Working with Dates
import datetime
datetime.datetime.now()

datetime.datetime(2018, 4, 3, 13, 51, 18, 168642)

In [5]:
# Sets - Dummy's book has pre-python 3 instuctions for sets. https://docs.python.org/3/tutorial/datastructures.html
# Let's use the info from link with the demo from the book. Print format change: https://docs.python.org/3.1/tutorial/inputoutput.html
SetA = set(['Red', 'Green', 'Yellow','Orange'])
SetB = set(['Black', 'Green', 'Yellow','Orange'])
SetX = SetA.union(SetB)
SetY = SetA.intersection(SetB)
SetZ = SetA.difference(SetB)
print('{0}\n{1}\n{2}'.format(SetX, SetY, SetZ))

{'Green', 'Red', 'Black', 'Yellow', 'Orange'}
{'Yellow', 'Green', 'Orange'}
{'Red'}

In [14]:
# Functions
def SayHello(): 
    print('Hello There!')

In [15]:
# Functions pt 2
SayHello()

Hello There!

In [16]:
# URL for downloading source which includes colors, titanic and values data sets
# http://www.dummies.com/store/product/Python-for-Data-Science-For-Dummies.productCd-1118844181,descCd-DOWNLOAD.html

In [20]:
# Read Colors data set. Note that the print function needs to be updated from book print(). Also r not rb
with open("Colors.txt", 'r') as open_file:
    print('Colors.txt content: \n' + open_file.read())

Colors.txt content:
Color	Value
Red	1
Orange	2
Yellow	3
Green	4
Blue	5
Purple	6
Black	7
White	8

In [23]:
# Read Colors as Stream - Error was expected intentation on print line
with open("Colors.txt", 'r') as open_file:
    for observation in open_file:
        print('Reading Data: ' + observation)

Reading Data: Color	Value

Reading Data: Red	1

Reading Data: Orange	2

Reading Data: Yellow	3

Reading Data: Green	4

Reading Data: Blue	5

Reading Data: Purple	6

Reading Data: Black	7

Reading Data: White	8

In [27]:
# Sampling Data
n =  2 
with open("Colors.txt", 'r') as open_file:
    for j, observation in enumerate(open_file) :
        if j % n==0:
            print('Reading Line: ' +str (j) +
            'Content: ' + observation)

Reading Line: 0Content: Color	Value

Reading Line: 2Content: Orange	2

Reading Line: 4Content: Green	4

Reading Line: 6Content: Purple	6

Reading Line: 8Content: White	8

In [30]:
# Reading CSV Files (.values)
import pandas as pd
titanic = pd.io.parsers.read_csv("Titanic.csv")
X = titanic[['age']]
print(X)

            age
0       29.0000
1        0.9167
2        2.0000
3       30.0000
4       25.0000
5       48.0000
6       63.0000
7       39.0000
8       53.0000
9       71.0000
10      47.0000
11      18.0000
12      24.0000
13      26.0000
14      80.0000
15    9999.0000
16      24.0000
17      50.0000
18      32.0000
19      36.0000
20      37.0000
21      47.0000
22      26.0000
23      42.0000
24      29.0000
25      25.0000
26      25.0000
27      19.0000
28      35.0000
29      28.0000
...         ...
1279    14.0000
1280    22.0000
1281    22.0000
1282  9999.0000
1283  9999.0000
1284  9999.0000
1285    32.5000
1286    38.0000
1287    51.0000
1288    18.0000
1289    21.0000
1290    47.0000
1291  9999.0000
1292  9999.0000
1293  9999.0000
1294    28.5000
1295    21.0000
1296    27.0000
1297  9999.0000
1298    36.0000
1299    27.0000
1300    15.0000
1301    45.5000
1302  9999.0000
1303  9999.0000
1304    14.5000
1305  9999.0000
1306    26.5000
1307    27.0000
1308    29.0000

[1309 rows x 1 columns]

In [1]:
# Reading XLS files 
import pandas as pd
xls = pd.ExcelFile("Values.xls")
trig_values = xls.parse('Sheet1', index_col=None,
                       na_values=['NA'])
print(trig_values)

    Angle (Degrees)      Sine    Cosine    Tangent
0        138.550574  0.661959 -0.749540  -0.883153
1        305.535745 -0.813753  0.581211  -1.400100
2        280.518695 -0.983195  0.182556  -5.385709
3        216.363795 -0.592910 -0.805269   0.736289
4         36.389247  0.593268  0.805005   0.736974
5         31.474311  0.522116  0.852874   0.612184
6        120.121669  0.864962 -0.501838  -1.723588
7        293.947055 -0.913921  0.405892  -2.251634
8        179.882632  0.002048 -0.999998  -0.002048
9        120.927562  0.857818 -0.513954  -1.669056
10        71.349485  0.947487  0.319795   2.962796
11       241.971082 -0.882711 -0.469917   1.878439
12       297.208817 -0.889346  0.457235  -1.945053
13       142.004551  0.615599 -0.788060  -0.781158
14       173.770696  0.108508 -0.994096  -0.109152
15       229.232002 -0.757360 -0.652998   1.159820
16        67.926976  0.926706  0.375788   2.466033
17       261.866575 -0.989941 -0.141479   6.997102
18        59.185450  0.858830  0.512261   1.676547
19        98.029275  0.990197 -0.139679  -7.089086
20         9.336088  0.162225  0.986754   0.164403
21        90.746371  0.999915 -0.013026 -76.761483
22       217.798087 -0.612881 -0.790175   0.775626
23        58.616049  0.853697  0.520771   1.639295
24       197.196367 -0.295647 -0.955297   0.309482
25       331.194892 -0.481832  0.876264  -0.549871
26         6.509875  0.113374  0.993552   0.114110
27       266.390707 -0.998017 -0.062952  15.853513
28       230.323819 -0.769665 -0.638448   1.205525
29       314.224257 -0.716615  0.697469  -1.027452
..              ...       ...       ...        ...
42       324.080564 -0.586647  0.809843  -0.724396
43       140.893727  0.630761 -0.775977  -0.812860
44       128.226889  0.785567 -0.618777  -1.269547
45        82.770054  0.992049  0.125852   7.882680
46       303.112455 -0.837600  0.546284  -1.533268
47       164.824273  0.261780 -0.965127  -0.271239
48       218.829827 -0.627009 -0.779012   0.804878
49        28.649593  0.479452  0.877568   0.546341
50       349.336296 -0.185044  0.982730  -0.188296
51        84.889713  0.996025  0.089073  11.182105
52       197.935862 -0.307952 -0.951402   0.323683
53       303.049380 -0.838201  0.545362  -1.536963
54       183.737235 -0.065181 -0.997873   0.065320
55       346.153919 -0.239314  0.970942  -0.246477
56       218.822745 -0.626913 -0.779089   0.804674
57       243.969070 -0.898557 -0.438856   2.047498
58       115.600771  0.901827 -0.432098  -2.087089
59       125.906606  0.809974 -0.586466  -1.381111
60       200.094363 -0.343567 -0.939128   0.365836
61       337.860807 -0.376858  0.926271  -0.406855
62       168.176975  0.204889 -0.978785  -0.209330
63       305.708155 -0.812000  0.583657  -1.391229
64       162.656078  0.298107 -0.954533  -0.312306
65       219.007899 -0.629428 -0.777059   0.810012
66       222.830465 -0.679831 -0.733368   0.926998
67       324.199562 -0.584964  0.811059  -0.721234
68       187.948172 -0.138277 -0.990394   0.139619
69       270.678249 -0.999930  0.011837 -84.472139
70       270.779159 -0.999908  0.013598 -73.530885
71       200.213513 -0.345520 -0.938412   0.368196

[72 rows x 4 columns]